html,
body,
.wrapper {
  overflow-x: hidden;
}

.light-bg {
  background: #ebf2f9;
}

h1 {
  font-size: 1.4rem;
}

.hero {
  height: 100vh;
  width: 100vw;
  background-image: url("https://res.cloudinary.com/dtp45ukcw/image/upload/v1623760724/torilla/%D8%AE%D8%A8%D8%B23_nlanqn_gfv4va.jpg");
  background-position: center center;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}

.hero-content {
  margin-top: -5.5rem;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1.5rem;
}

.flex-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 3rem;
}

.flex-item img {
  width: 100px;
  height: 100px;
  margin-bottom: 8px;
}

.flex-item strong {
  font-size: 1.8rem;
}

.card img {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

.badge {
  font-size: 1rem;
}

.contact .flex-container img {
  width: 40px;
  height: 40px;
  margin: 2rem;
}

.map a {
  text-decoration: none;
}

.map img {
  width: 20px;
}

.flex-container .img-fluid {
  max-width: 400px;
  max-height: 500px;
  object-fit: cover;
  margin: 20px 1.5rem;
}
